<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="utf-8">
    <title>Register</title>
    <meta name="description" content="slick Login">
    <meta name="author" content="Webdesigntuts+">
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='style1.css') }}/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://www.modernizr.com/downloads/modernizr-latest.js"></script>
    <script type="text/javascript" src"placeholder.js"></script>
</head>
 
<body>
    <form id="slick-login" method="post" name="add" target="add">
        <label for="username">username</label><input type="text" name="username" class="placeholder" placeholder="username">
        <label for="password">password</label><input type="password" name="password" class="placeholder" placeholder="password">
        <label for="sex">password</label><input type="text" name="sex" class="placeholder" placeholder="F/M">
        <label for="height">password</label><input type="text" name="height" class="placeholder" placeholder="Your Height(cm)">
        <label for="weight">password</label><input type="text" name="weight" class="placeholder" placeholder="Your Weight(kg)">
        <label for="email">password</label><input type="text" name="email" class="placeholder" placeholder="14307110057@fudan.edu.cn">
        <input type=submit value="Register">
    </form>
</body>
 
</html>